circle.variation.mickey {
       fill: #E59A27;
       fill-opacity: 0.8;
}

circle.variation.mickey:hover {
       fill: #E59A27;
       fill-opacity: 0.2;
}

circle.swissprot.sp_circle {
       fill: #45A4D2;
       fill-opacity: 0.8;
}
circle.swissprot.sp_circle:hover {
       fill: #45A4D2;
       fill-opacity: 0.2;
}

        g.feature.psms.stanley rect.feature {
            fill: red;
            fill-opacity: 0.8;
        }
        g.feature.psms.stanley:hover rect.feature {
            fill: black;
            fill-opacity: 0.8;
        }

        g.feature.pfam rect.feature {
            fill: purple;
            fill-opacity: 0.8;
            
            
        }
        g.feature.pfam:hover rect.feature {
            fill: purple;
            fill-opacity: 0.2;
            
           
        }

        g.feature.swissprot rect.feature {
            fill: #45A4D2;
            fill-opacity: 0.8;
            
            
        }
        g.feature.swissprot:hover rect.feature {
            fill: #45A4D2;
            fill-opacity: 0.2;
            
           
        }

        g.feature.alamut rect.feature {
            fill: green;
            fill-opacity: 0.8;
            
            
        }
        g.feature.alamut:hover rect.feature {
            fill: green;
            fill-opacity: 0.2;
            
           
        }


tr:hover {
    color: black;

}
